@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: 'Mulish', sans-serif; */
}


:root {
  --bg-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --bg-carolina-blue: hsl(172.56deg 89% 49%);
  --bg-prussian-blue: hsla(216, 33%, 20%, 1);
  --bg-oxford-blue: hsla(240, 67%, 92%, 0.934);
  --bg-oxford-blue-2: hsl(0, 0%, 100%);
  --text-white: hsla(0, 0%, 100%, 1);
  --text-alice-blue: hsla(216, 100%, 95%, 1);
  --text-columbia-blue: hsla(199, 69%, 84%, 1);
  --text-wild-blue-yonder: rgb(49, 61, 78);
  --text-carolina-blue: hsl(161.17deg 89% 49%);
  --text-shadow-blue: hsl(217deg 15% 45.95%);
  --text-slate-gray: hsla(217, 17%, 48%, 1);
  --gradient-1: linear-gradient(90deg, #2272e2, #3d8eff);
  --gradient-2: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
  --gradient-3: linear-gradient(0deg, #000d1a, transparent);
  --border-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --border-prussian-blue: rgb(154, 173, 201);
  --border-white: hsl(0, 0%, 100%);
  --border-white-alpha-15: hsla(0, 0%, 100%, 0.15);
  --white: hsl(0, 11%, 16%);
  --black: hsl(0, 0%, 0%, 1);
  --hoColor: #13be96;
  --fontFamily-noto_sans: "Noto Sans", sans-serif;
  --fontSize-1: 2.9rem;
  --fontSize-2: 2rem;
  --fontSize-3: 1.8rem;
  --fontSize-4: 1.6rem;
  --fontSize-5: 1.5rem;
  --fontSize-6: 1.4rem;
  --fontSize-7: 1.2rem;
  --fontSize-8: 1.3rem;
  --weight-medium: 500;
  --weight-semiBold: 600;
  --weight-bold: 700;
  --weight-extraBold: 800;
  --lineHeight-1: 1.3;
  --lineHeight-2: 1.5;
  --lineHeight-4: 1.5;
  --shadow-1: 0 8px 20px 0 hsla(0, 0%, 0%, 0.05);
  --shadow-2: 0px 3px 20px hsla(180, 90%, 43%, 0.2);
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-48: 48px;
  --radius-circle: 50%;
  --radius-pill: 200px;
  --section-padding: 70px;
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background: #1a79ff;
  border-radius: 5px;
}

header nav .Search_user .search:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* Global Tags */


.gd-color {
  background-image: var(--gradient-1);
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 2rem;
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}

ul li {
  list-style: none;
}

a {
  font-size: 1rem;
  text-decoration: none;
}

li {
  font-size: 1.3rem;
  margin-bottom: 0.3em;
  letter-spacing: 0.1em;
}

h1,
h2,
h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}

/* ---------- Utility Classes ------------- */

.lg-heading {
  font-size: 3rem;
  text-transform: uppercase;
}

.md-heading {
  font-size: 1.2rem;
}

.text-red {
  color: #e63946;
}

.text-light {
  color: #f4f4f4;
  padding-bottom: 20px;
}

.text-black {
  color: #333;
}

.text-gray {
  color: #555;
}

.hm-p{
  font-weight: 500 !important;
}


#red {
  color: #5882f6;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 40px;
  border: 2px solid #5882f6;
  border-end-end-radius: 80px 80px;
  border-start-start-radius: 80px 80px;
  transition: 0.3s ease;
}

#red:hover {
  /* background-color: #2272e2; */
  background: linear-gradient(90deg, #5697ff, #5882f6);
  color: #fff;
  text-transform: uppercase;
  box-shadow: -5px -6px 13px white, -2px 4px 20px #babecc;
}

.main-content-box {
    background: linear-gradient(rgba(9, 5, 54, 0.4), rgba(5, 4, 46, 0.6)),url('../img/bg9.jpg');
    background-position: center center;
    background-size: cover;
    /* background-attachment: fixed; */
    width: 100%;
    height: 122vh;
    color: #fff;
}

.header-content {
  position: absolute;
  top: 83%;
  left: 50.9%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header {
  width: 100%;
  background-color: #edf2fc;
  font-family: "Times New Roman", Times, serif;
  position: relative;
}

/* ----------------- Shape Divider -------------------- */

.custom-shape-divider-bottom-1674106513 {
  position: absolute;
  bottom: -170px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1674106513 svg {
  position: relative;
  display: block;
  width: calc(124% + 840.3px);
  height: 213px;
}

.custom-shape-divider-bottom-1674106513 .shape-fill {
  fill: #ffffff;
}

/* ---------------------- Navigation Bar ------------------------- */


.margin_top_nav {
  top: 58px;
}


.top_header {
  width: 100%;
  height: 63px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 63px;
  align-items: center;
  position: absolute;
  /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15); */
  z-index: 1111;
}

.th_box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.th_content_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.br_left {
  border-left: 1px solid #000;
  padding-left: 14px;
}

.blue_text {
  color: rgba(23, 23, 78, 0.831);
  font-weight: 600;
}

.th_flex_center_ {
  display: flex;
  align-items: center;
  gap: 8px;
}

.th_icon_box1,.th_icon_box2,.thib {
  width: 28px;
  height: 28px;
  background: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.th_icon_box2 {
  background: rgba(30, 203, 200, 0.881);
}

.th_icon_box2 .fa-envelope {
  padding-left: 0 !important;
}

.th_icon_box1 .fa-mobile{
  padding-right: 0 !important;
}

.th_content_box .fa-envelope {
  font-size: 1rem;
  color: #000 !important;
}

.th_icon_box3 {
  background: #ff0d0dcc;
}

.th_icon_box4 {
  background: #18a244cc;
}

.fa-right-from-bracket {
  color: #fff;
  font-size: .9rem;
  padding-right: 0 !important;
}

.logout_button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.google_icon {
  display: flex;
  justify-content: center;
  /* background: #1e76ff; */
  color: #242424;
  width: 255px;
  /* border: 2px solid #0a30ff; */
  border: 2px solid #0a2fff14;
  align-self: center;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all .3s ease;
}

.google_icon i {
  font-size: 26px;
  border-radius: 50%;
  /* background: dodgerblue; */
  /* border-right: 3px solid #fff; */
  color: #242424 !important;
  padding: 10px 15px;
  margin-bottom: 0px;
}

.google_icon svg {
  width: 22px;
}

.google_icon:hover {
  background: transparent;
  border: 2px solid #0a30ff;
  color: #0a30ff !important;
}


/* Message Box Style  */

.message_box {
  width: 402px;
  background: #53d568fa;
  color: #ffffff;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 23px;
  justify-content: flex-start;
  position: fixed;
  bottom: 44px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 0 0 21pz;
  box-shadow: rgb(0 0 0 / 29%) 0px 5px 15px;
  border-radius: 17px;
  transition: all .3s ease-in;
}

.message_icon_box {
  width: 71px;
  height: 52px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .message_icon_box i{
      font-size: 1.5rem;
      color: #1ac11a;
  }

  .error_message_box {
  width: 426px;
  background: #ed5555fa;
  font-weight: 600;
}

.error_message_box .message_icon_box {
  width: 117px;
  height: 74px;
}

.error_message_box i {
  color: #f02c0e;
}


/* .google_icon:hover .google_icon i{

} */

.logout_btn {
  text-decoration: none;
  color: #000;
}

.guest_img_box {
  width: 31px;
  height: 31px;
  background: #eff6ff;
  border-radius: 50px;
  box-shadow: rgb(0 0 0 / 68%) 1px 0px 3px;
  overflow: hidden;
}

.guest_img_box img {
  width: 100%;
  background-size: cover;
}

nav {
  position: fixed;
  width: 100%;
  height: 79px;
  top: 0px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0vw 5vw;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

nav.active {
  position: fixed;
  margin-top: 0;
  top: 0;
  background-color: var(--bg-oxford-blue-2);
  animation: slideIn 500ms ease forwards;
  box-shadow: rgba(156, 166, 168, 0.079) 0px 15px 25px,
    rgba(123, 117, 117, 0.05) 0px 5px 10px;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translate(0);
  }
}

.nav-links {
  flex: 1;
  text-align: right;
  margin-top: 4px;
  padding-top: 25px;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 12px;
  position: relative;
  top: 19;
}

.nav-links ul li a {
  color: rgb(58, 55, 55);
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 10px;
  position: relative;
  bottom: 20;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-links ul li a:hover {
  color: #5882f6;
}

.nav-links ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #5882f6;
  display: block;
  margin: auto;
  position: relative;
  bottom: 20;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 90%;
  position: relative;
  bottom: 20;
}

#iconbar i,
#crossbar i {
  display: none;
}

/* -------------- Logo Styling -------------- */

.logo {
  width: 100px;
  cursor: pointer;
  color: #333;
  display: flex;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 4px;
}

.logo span {
  font-weight: 800;
  color: #5882f6;
}

.logo span:hover {
  color: #333;
}

.logo a {
  color: #5882f6;
  font-size: 35px;
  font-weight: 800;
  margin-left: 6%;
  text-decoration: none;
  transition: 0.5s ease-in;
}

.logo:hover {
  border-bottom: 2px solid #5882f6;
  color: #5882f6;
  width: 18%;
  transition: all 0.3s ease-in;
}
.logo:hover::after span {
  color: #5882f6;
}

.logo:hover > span {
  color: #000;
}

/* --------------- Button Styling ---------------- */

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-weight: 650;
  text-transform: uppercase;
  margin: 0.5em 0;
}

.btn-primary {
  border: 2px solid rgb(255, 255, 255);
  color: #fff;
  border-radius: 10px;
  transition: all 1000ms;
  position: relative;
  overflow: hidden;
}

.btn-primary:hover {
  background-color: rgb(255, 255, 255);
  color: #2272e2;
  border-bottom: 4px solid #2272e2;
  border-radius: 15px;
  box-shadow: 0 0 30px 0 rgba(6, 113, 252, 0.469);
}

.btn-primary::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #ffffff;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.btn-primary:hover::before {
  width: 250%;
}


/* ------------------ Website Content -------------------- */

.categories-container {
  padding-top: 32px;
}

.bg {
  font-size: 2.1rem;
  text-transform: uppercase;
  border: 2px solid #5882f6;
  display: inline-block;
  color: #2272e2;
  border-radius: 25px;
  padding: 10px 57px;
  transition: all 0.4s ease-in-out;
}
  
  .bg:hover {
    background-color: #5882f6;
    color: #fff;
    padding: 10px 57px;
    box-shadow: 0px 0px 7px rgba(2, 2, 2, 0.357), 0px 0px 45px #0a0a0a44;
  }

  .content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 29px;
    margin-top: 49px;
}

.content-box p {
  color: #fff;
  font-weight: 500;
}
  
.categories {
  width: 100%;
  height: 84vh;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ffffff;
  text-align: center;
  /* padding-top: 100px; */
  margin-bottom: 95px;
}
  
  .categories h1 {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}
  
  .categories p {
    color: #777;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding: 20px;
    margin-top: -20px;
  }
  
  .rowws {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    width: 100%;
}
  
  .row1 {
    /* transform: translateX(-150%); */
    /* animation: row1 2s ease-in-out forwards; */
  }
/*   
  @keyframes row1 {
    100% {
      transform: translateX(0%);
    }
  }
  
  .row2 {
    transform: translateX(150%);
    animation: row2 2s ease-in-out forwards;
  }
  
  @keyframes row2 {
    100% {
      transform: translateX(0%);
    }
  }
   */
   .cat-col {
    width: 327px;
    height: 209px;
    margin-bottom: 20px;
    border-radius: 10px;
    transform: 0.5s;
    position: relative;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}
  
  .cat-col::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000009f;
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }
  
  .cat-col:hover::after{
    opacity: 1;
  }
  
  .cat-content{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    z-index: 10;
    transition: all 0.4s ease-in-out;
  }
  
  .cat-col:hover .cat-content{
    top: 50%;
    opacity: 1;
  }
  
  
  .cat-col h3 {
    text-align: center;
    font-weight: 800;
    font-size: 1rem;
    /* margin: 10px; */
    color: #fff;
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 4px;
    /* transition: 0.3s ease; */
}
  
  .cat-col h3:hover {
    color: #e24b22;
    border-width: 20%;
  }
  
  .cat-col {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    font-size: x-large;
    font-size: 20px;
}
  
  .cat-col:hover {
    box-shadow: -2px 7px 12px 0px rgba(0, 0, 0, 0.367);
    font-size: large;
    transform: scale(1.07);
  }
  
  /* ---------- Categories Images ---------- */
  


/*-----------------------------------*\
  #FOOTER SECTION
\*-----------------------------------*/

.footer-container {
  display: grid;
  place-items: center;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 31px;
  padding: 4vw 5vw;
  margin-top: 115px;
  justify-content: center;
  gap: 132px;
  position: relative;
  border: 1px solid var(--border-prussian-blue);
  border-bottom: none;
}

#l-text {
  font-size: 1.5rem;
}

.ft-h {
  display: none;
}

.f-img-box img {
  width: 203px;
  cursor: pointer;
}

#visitor-count {
  color: var(--text-wild-blue-yonder);
  padding-left: 9px;
  font-size: 0.9rem;
}

footer .row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


footer .row h4 {
  color: #555;
  font-size: 1.2rem;
  font-weight: 500;
}

.row li, footer .row p {
  list-style: none;
  padding: 5px;
  font-weight: 500;
}

.row li a,
footer .row p {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--text-wild-blue-yonder);
  font-weight: 500;
  transition: all 0.3s ease;
}

.row li a:hover {
    color: rgb(45, 115, 255);
}

footer .subscribe {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer input, footer textarea {
  width: 220px;
  padding: 15px 12px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #191818;
  outline: none;
  border-radius: 7px;
  transition: all .2s ease-in;
}

.subscribe input::placeholder,
textarea::placeholder,
.inp input::placeholder {
  color: var(--text-wild-blue-yonder);
}

footer .email:focus, footer .message:focus{
  border: 2px solid #4b4b4b;
}

footer .subscribe button {
  width: 220px;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: center;
  padding: 12px 15px;
  background-color: #fff;
  font-weight: 800;
  margin-top: 8px;
  border-radius: 7px;
}

button.yellow {
  color: #fff;
  background: var(--gradient-1);
  border: 1px solid #2272e2;
  transition: all 0.3s ease-in;
}

button.yellow:hover {
  color: #312d2dad;
  background: transparent;
  border: 1px solid #312d2dad;
}

button:hover {
border-color: #1e1f2394;
}

.dark-mode button.yellow:hover {
  color: rgb(16, 16, 16) !important;
  background: transparent;
}

.copyright-container {
  display: flex;
  color: #000;
  justify-content: center;
  align-items: center;
  gap: 204px;
  padding: 16px 0;
  border-block: 1px solid #0000006b;
  font-size: .9rem;
}

.footer-social {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 32px;
  transition: all 0.3s ease;
}

.footer-social li:hover {
  transform: scale(0.9);
}

.footer-social i {
  font-size: 22px;
}

.copyright p {
  color: #302f2f;
  font-size: 14px;
  text-align: center;
}

.copyright-container{
  display: flex;
  justify-content: center;
  gap: 214px 
}

/* ----------------- Blog Page -------------------- */

/* Blog */

#blog-home {
  background: linear-gradient(rgba(9, 5, 54, 0.4), rgba(5, 4, 46, 0.6)),
    url("../img/bg6.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

#blog-home h2 {
  color: #fff;
  font: 2.2rem;
  letter-spacing: 1px;
}

#blog-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 4vw 4vw 2vw 8vw;
}

#blog-containe .blogs {
  width: 60%;
}

#btn-post {
  position: relative;
  left: 61%;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 25px;
  /* background-color: #4ca2ed; */
  background: linear-gradient(90deg, #5697ff, #5882f6);
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.3s ease;
}

#btn-post:hover {
  border: 2px solid #4ba4f3;
  background: transparent;
  color: #3b99ea;
  padding: 13px 28px;
  box-shadow: -5px -6px 13px white, -2px 4px 10px #babecc;
}

#prv-btn {
  position: relative;
  left: 70%;
  /* right: 0; */
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: #4ca2ed;
  border: 2px solid #4ba4f3;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.3s ease;
}

#prv-btn:hover {
  border: 2px solid #4ba4f3;
  background-color: transparent;
  color: #3b99ea;
  padding: 15px 36px;
  box-shadow: -5px -6px 13px white, -2px 4px 10px #babecc;
}

#h2 {
  font-size: 40px;
  padding-bottom: 40px;
}

#h2 hr {
  margin-top: 20px;
  font-weight: 900;
  width: 100%;
  color: black;
}

#blog-container .blogs img {
  width: 100%;
  border-radius: 19px;
}

#blog-container .blogs img:hover {
  transform: skew(-1deg, 1deg);
}

#blog-container .blogs .post-img img {
  /* padding-top: 61px; */
  /* width: 100%; */
  border-radius: 19px;
  background-size: cover;
  background-position: center center;
  background-repeat:no-repeat;
}

#blog-container .blogs .post {
  width: 100%;
  height: 100%;
  padding: 45px 45px;
  /* padding-bottom: 60px; */
  box-shadow: 0 0 40px 0 rgba(52, 38, 38, 0.094);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin-bottom: 67px;
}

/* .post::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000b7;
  z-index: 1;
  opacity: 0;
} */

.post:hover::after{
  opacity: 1;
}

.post-cont{
  /* position: absolute; */
  top: 50%;
  left: 20%;
  /* transform: translate(-50%,-50%); */
  color: #fff !important;
  z-index: 10;
  /* opacity: 0; */
  transition: all 0.4s ease-in-out;
}

.post:hover .post-cont{
  opacity: 1;
  left: 50%;
}


#blog-container .blogs .post h3 {
  text-align: left;
  width: 100%;
  color: #3b3b3b;
  font-size: 32px;
  padding: 15px 0 15px 0;
  letter-spacing: 2px;
}

#blog-container .blogs .post p {
  text-align: justify;
  margin-bottom: 10px;
  width: 100%;
  color: #3b3b3b;
  padding-bottom: 20px;
}

.read-btn {
  margin-top: 40px;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 11px 26px;
  background: linear-gradient(90deg, #5697ff, #5882f6);
  color: #fff;
  border: 2px solid #5697ff;
  border-radius: 10px;
  font-weight: 600;
  /* margin-left: 200px; */
  transition: 0.3s ease;
}

.read-btn:hover{
  color: #5697ff;
  padding: 13px 32px;
  background: transparent;
  /* box-shadow: -5px -6px 13px rgb(67, 67, 67), -2px 4px 10px #565656; */
}

.read-btn{
  margin-top: 40px;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 14px 35px;
  background: linear-gradient(90deg, #5697ff, #5882f6);
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  margin-left: 20px;
  transition: 0.3s ease;
}

.read-btn:hover{
  color: #5882f6;
  border: 2px solid #5882f6;
  background: transparent;
  padding: 15px 36px;
  box-shadow: -5px -6px 13px white, -2px 4px 10px #babecc;
}

.post-cont .read-btn {
  margin-left: 0 !important;
}

.gr{
  background: linear-gradient(90deg, #5697ff, #5882f6);
}


.cat_link_box {
  display: flex;
  align-items: center;
  padding: 9px 0;
}

.cate_link_box p {
  line-height: 0;

}


#categories {
    position: sticky;
    top: 22%;
    margin-top: 9%;
    background-color: white;
    padding: 2vw 4vw;
    border-top: 10px solid #1a79ff;
    /* border-radius: 84px; */
    border-top-right-radius: 33px;
    border-top-left-radius: 33px;
    border-bottom-left-radius: 84px;
    border-bottom-right-radius: 84px;
    box-shadow: -5px -6px 13px white, -2px 4px 10px #babecc;
    transition: all 0.3s ease-in;
}

#categories:hover {
  background-color: #eaf5ff84;
  border-top: 18px solid #3064cc;
  color: #fff !important;
  box-shadow: -5px -6px 13px white, -2px 4px 10px #babecc;
}

#categories i {
  padding-right: 15px;
}

#blog-container .cate {
  margin-left: 60px;
  width: 29%;
}

#blog-container .cate h2 {
  padding-bottom: 17px;
  font-size: 28px;
}

#blog-container .cate a {
	color: #757373;
	font-weight: 400;
	font-size: 17px;
	line-height: 24px;
  transition: all 0.3s ease;
}

#blog-container .cate a:hover {
  color: #1a79ff;
}

#blog-container .blogpost {
  width: 80%;
  margin: 0 auto;
}

#blog-container .blogpost p {
  width: 100% !important;
  text-align: justify;
  padding-bottom: 29px !important;
}

.posts {
  padding: 50px 50px 0;
  margin-top: 40px;
  box-shadow: 0 0 20px 0 rgba(52, 38, 38, 0.114);
  margin-bottom: 35px;
}

.posts hr {
  margin: -4px 0px 30px;
}

/* .posts h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 7px;
  padding: 5px 83px;
  margin: 0 0 24px;
  color: #fff;
  background-color: #2870d5;
  width: 100%;
} */

.posts h3 {
  font-size: 1.5rem;
  font-weight: 700;
  /* text-align: center; */
  padding-bottom: 7px;
  padding: 5px 0;
  margin: 0 0 8px;
  color: #303030;
  /* background-color: #2870d5; */
  width: 100%;
  border-bottom: 1px solid #0000002e;
}

.posts p, .posts ul li {
  font-size: 15px;
  line-height: 37px;
  letter-spacing: 0.9px;
  word-spacing: 1px;
  list-style-type: disc;
}

.posts ul {
  margin: 15px 0 54px;
}

.posts ul li {
  margin-left: 29px;
}

table tr.p-cr:nth-child(1) {
  border-top: 1px solid #00000066 !important;
}

table tr:nth-child(odd) {
  background-color: #eaeaeacf;
  border-top: 2px solid #000;    
  padding: 9px;
  border-bottom: 0.5px solid #00000063;
}



.p-head {
  width: 100%;
  height: 67px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  /* border-bottom: 1px solid #0000002e; */
  margin-bottom: 15px;
}

.pp-head {
  font-size: 1.7rem;
  font-weight: 700;
  /* text-align: center; */
  /* padding: 5px 83px; */
  /* margin: 24px 0; */
  color: #242323;
  /* background-color: #2870d5; */
  /* width: 72% !important; */
  /* margin-left: 13% !important; */
  /* position: absolute !important; */
  top: -46px;
  border-bottom: 1px solid #0000002e;
}
.p-head hr{
  border: 2px solid #1a79ff;
  color: #1a79ff;
}

.cr {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  gap: 5px;
  /* justify-content: center; */

}

.cr .p-cr:nth-child(1) {
  color: #fff;
  font-weight: 600;
  font-style: normal;
}

.cr .p-cr {
  display: flex;
  gap: 14px;
  align-items: center;
  align-items: center;
  padding: 10px 27px;
  /* background: linear-gradient(90deg, #5697ff, #5882f6); */
  color: #000000 !important;
  font-weight: 700 !important;
  font-size: 11px;
  /* letter-spacing: 2px; */
  margin-top: 25px;
  margin-right: 4px;
  text-align: center;
  border-radius: 22px;
  border: 1px solid #0000001c;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

.p-head .cr .p-cr {
  display: flex;
  gap: 14px;
  align-items: center;
  align-items: center;
  padding: 10px 27px;
  /* background: linear-gradient(90deg, #5697ff, #5882f6); */
  color: #000000 !important;
  font-weight: 700 !important;
  font-size: 11px;
  /* letter-spacing: 2px; */
  margin-top: 0 !important ;
  margin-right: 4px;
  text-align: center;
  border-radius: 7px !important;
  border: none !important;
  box-shadow: rgb(0 0 0 / 18%) 0px 3px 8px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

.cr .p-cr:hover {
  cursor: pointer;
}


.p-cr img {
  width: 26px !important;
}

.p-cr h4 {
  margin-top: 5px !important;
}

.gt-home{
  left: 43% !important;
}


/* --------------- Comment Section ----------------- */


#commments {
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.comments_container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  padding: 18px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 16px;
}

.comment_profile_box {
  display: flex;
  gap: 27px;
  align-items: center;
}

.comment_img_box {
  width: 55px;
  height: 55px;
  padding: 0 !important;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
}

.comment_img_box img {
  width: 100%;
}

.comment_name_box p{
  padding: 5px 0px !important;
}

.post-comment,
.comm {
  width: 87%;
}

.post-comment h2 {
  letter-spacing: 6px;
}

.post-comment form {
  border-top: 5px solid #131874;
  color: #fff;
  margin-left: 20.1%;
  margin-bottom: 20px;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  text-shadow: 1px 1px 0 white;
  box-shadow: -5px -6px 13px white, -2px 4px 20px #babecc;
  transition: all 0.3s;
}

.post-comment form:hover {
  border-top: 6px solid #3772c4;
}

.post-comment form input,
.p-text {
  width: 94%;
  color: #000;
  border-bottom: 0.2px solid rgb(51, 51, 51) !important;
  border: none;
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
  background-color: #fff;
  outline: none;
  transition: all 0.3s ease;
}

.post-comment form input:hover,
.p-text:hover {
  border-bottom: 0.2px solid #1a79ff !important;
  box-shadow: 2px 2px 5px #babecc;
}

.post-comment form button {
  width: 29%;
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  padding: 13px 37px;
  background-color: #3772c4;
  color: #fff;
  outline: none;
  border: none;
  border-end-end-radius: 41px 80px;
  border-start-start-radius: 45px 80px;
  font-weight: 600;
  transition: 0.3s ease;
}

.post-comment form button:hover {
  color: #3772c4;
  padding: 13px 35px;
  border: 2px solid #3772c4;
  background-color: transparent;
  box-shadow: -5px -6px 13px white, -2px 4px 10px #babecc;
}

.comm {
  width: 69.8%;
  border-top: 5px solid #131874;
  letter-spacing: 1px;
  font-size: 14px;
  color: #000;
  margin-left: 17.4%;
  padding: 2vw;
  box-shadow: -5px -6px 13px white, -2px 4px 20px #babecc;
  transition: all 0.3s;
}

.comm div span {
  padding: 12px 0px;
  font-style: normal;
  font-size: 15px;
  font-weight: 650;
  margin-right: 8px;
  color: #e63946;
}

.comm div span::before {
  content: "* ";
}

.comm div strong {
  padding: 0px 10px 0px 0px;
}

.comm:hover {
  border-top: 6px solid #3772c4;
}

/* ---------------- Post Tables --------------------- */

.t-heading{
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 15px;
}

table{
  width: 100%;
  padding: 0px 0px 50px 0px;
}

.td-t{
  border-top: 2px solid #000;
}


table td{
  padding: 9px;
  border-bottom: 0.5px solid #00000063;
}

.td-1{
  background-color: #eaeaeacf;
}

td:first-child{
  border-right: 0.5px solid #00000049;
}



/* ------------------- Pros & Cons Section ---------------------- */

.pc-container{
  display: flex;
  flex-direction: row;
  gap: 120px;
  /* text-align: justify; */
  font-family: "Poppins", sans-serif;
  margin: 0px 0px 30px;
}

.pros h3{
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #22e232;
  padding-left: 25px;
}

.cons h3{
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #e24b22;
  padding-left: 25px;
}

.pc-container li{
  list-style: square;
  line-height: 23px;
  font-size: 14px;
}

.pros .li-pros{
  border-left: 7px solid #22e232;
  padding-left: 20px;
}

.cons .li-cons{
  border-left: 7px solid #e24b22;
  padding-left: 20px;
}


/* ------------ Sign Up Page ------------- */

.nav-links ul li {
  padding-bottom: 20px;
}

#container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 105vh;
  padding: 30px;
  margin-left: 50px;
  padding-top: 50px;
  padding-bottom: 207px;
  /* margin: 20px; */
}

#row-1 {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

#row2 {
  text-align: center;
  width: 100%;
  height: 100vh;
}

#col-2 {
  margin-top: 65px;
  padding-top: 398px;
  padding-bottom: 70px;
  background-image: linear-gradient(rgba(9, 5, 54, 0.1), rgba(5, 4, 46, 0.7)),
url("../img/lbg.jpg");
  backdrop-filter: blur(100%);
  background-color: #0289d1;
  border-radius: 30px;
  height: 84vh;
  background-size: cover;
  background-position: center center;
  box-shadow: -5px -6px 13px white, -2px 4px 10px #babecc;
  animation: col2 3s;
  animation-fill-mode: forwards;
  /* transition: animation 0.3s ease-in; */
}

@keyframes col2 {
  from {
    padding-top: 0px;
  }
  to {
    padding-top: 398px;
  }
}

#col-2 a {
  font-weight: 600;
}

#col-2 p {
  padding-bottom: 20px;
  color: #fff;
}

.form .par-1 {
  padding: 20px 0px;
  margin-bottom: 20px;
}

#col-3 {
  margin-top: 65px;
  /* margin-left: 7%; */
  height: 84vh;
  margin-right: 10%;
  padding: 3vw 4vw;
  background-color: #fff;
  border-top: 5px solid #1f65f0;
  border-radius: 30px;
  box-shadow: -5px -6px 13px white, -2px 4px 10px #babecc;
  transition: all 0.3s ease;
  overflow: hidden;
  animation: col3 2s;
}

@keyframes col3 {
  from {
    border-top: 500px solid #1f65f0;
  }
  to {
    border-top: 9px solid #1f65f0;
  }
}

#col-3:hover {
  border-top: 11px solid #1f65f0;
}

#col-3 a {
  font-weight: 600;
}

#col-3 p {
  padding: 10px;
}

#col-2 hr {
  color: #fff;
  width: 40%;
  margin-left: 29%;
  font-weight: 900;
  border: 1.7px solid #fff;
}

#hd-1 {
  margin-bottom: 7px;
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  /* width: 100%; */
  letter-spacing: 4px;
  text-transform: uppercase;
}

#col-2 .btn-1 {
  border: 2px solid rgb(255, 255, 255);
  background: transparent;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
  margin-right: 5px;
  padding: 10px 50px;
  border-radius: 10px;
  transition: 0.5s;
}

#col-2 .btn-1:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(41, 88, 242);
  border-bottom: 3px solid #1f65f0;
  border-radius: 15px;
  box-shadow: 0 0 30px 0 rgba(6, 113, 252, 0.986);
}

#f-hd {
  margin-bottom: 2px;
  color: #1f65f0;
  border-radius: 15px;
  font-size: 39px;
  font-weight: 700;
  word-spacing: 5px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

form .inp {
  display: flex;
  gap: 10px;
}

.form-reg #f-hd {
  font-size: 35px;
  margin: 0;
}

.form-reg #i {
  font-size: 20px;
}

.form-log p {
  margin-top: 0;
}

.form-reg p {
  font-size: 14px;
}

.form-reg .inp {
  /* padding: ; */
}

#i {
  font-size: 24px;
  border-radius: 50%;
  transition: 0.3s;
}

#i:hover {
  background: #1f65f0;
  font-size: 24px;
  color: #eaeaea !important;
  box-shadow: inset 2px 2px 5px #babecc,
    inset -5px -5px 10px rgba(255, 255, 255, 0.228);
}

#i {
  padding: 10px 15px;
  cursor: pointer;
  color: #333;
  margin-bottom: -5px;
}

.inp .fa-regular,
.fa-solid {
  padding-right: 5px;
  font-size: 17px;
}

.form {
  position: relative;
  text-align: center;
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
}

.form-reg {
  text-align: center;
  display: flex;
  margin-top: 70px;
  flex-direction: column;
}

.form .form-reg input {
  padding: 7px;
  margin-bottom: 5px !important;
  border-radius: 20px;
  outline: none;
}

form .inp {
  padding: 20px;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 20px;
  margin-bottom: 8px;
  margin-top: 5px;
  align-items: center;
}

.form-reg .inp {
  padding: 17px 20px !important;
}

.inp .fa-envelope {
  color: #000;
  padding-left: 0 !important;
}

.form .inp input {
  font-size: 15px;
  margin-right: 12vw;
  align-items: left;
  text-align: left;
  border: none;
  border-radius: 20px;
  outline: none;
}

.form .inp:hover {
  border-bottom: 0.2px solid #0044ff !important;
  box-shadow: 2px 2px 5px #babecc;
}

.form input::placeholder {
  font-size: 15px;
  font-weight: 500;
}

.reg-btn{
  padding: 10px 205px !important;
}

.form form {
  color: #2196f3;
}

#checkbox {
  text-align: left;
  margin-top: 10px;
  padding-left: 10px;
}

#checkbox label {
  color: #2196f3;
}

#checkbox label span {
  font-size: 15px;
  font-weight: 500;
  padding-left: 5px;
}

#checkbox button {
  color: #1f65f0;
  background: transparent;
  font-weight: 650;
  font-size: 15px;
  margin-left: 34%;
  text-decoration: none;
  letter-spacing: 1px;
  outline: none;
  border: none;
  transition: all 0.3s ease;
}

#checkbox button:hover {
  color: #c2878c;
}

#button-2 {
  background-color: #1f65f0;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  outline: none;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 5rem;
  transition: 0.5s;
}

#button-2:hover {
  border: 2px solid #1f65f0;
  color: #1f65f0;
  background: transparent;
  box-shadow: 2px 2px 5px #babecc;
}

#forgot .inp input {
  text-align: left;
  padding: 15px 15px 15px 0px;
  outline: none;
  border: none;
  /* margin-right: 210px; */
}

#forgot .inp i {
  padding-top: 16px;
  padding-left: 20px;
}

#forgot .inp {
  display: flex;
  gap: 10px;
  margin: 15px 100px 0px 100px;
  border: 1px solid #000;
  border-radius: 15px !important;
}

#forgot {
  margin: 15px 80px;
  padding: 120px 30px;
  position: relative;
}

#forgot h3 {
  margin-bottom: 2px;
  color: #1f65f0;
  border-radius: 15px;
  font-size: 32px;
  font-weight: 700;
  word-spacing: 5px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

#forgot a {
  font-weight: 600;
}

/* -------- About Us ---------- */

.about {
  width: 90%;
  padding: 50px 84px 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 44px;
  border-top: 3px solid #1e273033;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom: 3px solid #2788e6a1;
  border-bottom-right-radius: 176px;
  border-bottom-left-radius: 176px;
  margin: 50px 0 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about p {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  text-align: justify;
}

.paragraph {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.paragraph h1 {
  font-size: 1.6rem;
}

.paragraph h2 {
  font-size: 1.4rem;
}

.paragraph h3 {
  font-size: 1.2rem;
}

.about_links {
  display: flex;
  gap: 21px;
}

.about_links a {
  text-decoration: none;
  color: #0053ff;
  font-weight: 600;
  transition: all .3s ease;
}

.about_links a:hover {
  transform: translateY(-5px);
}


/* --------------- Author Section ----------------- */


.author {
  padding: 95px 0 80px;
  height: 89vh;
  width: 100%;
  position: relative;
}

.section-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 67px;
  position: relative;
}

/* .section-heading::before {
  content: "";
  position: absolute;
  top: -15px;
  bottom: 0;
  right: -15px;
  left: 0;
  background: linear-gradient(-181deg, #084554cf 11%, #ffffff00 0%);
  z-index: -1;
} */

.section-heading h3, .section-heading p{
  color: var(--text-shadow-blue);
  text-align: center;
  position: relative;
}

.section-heading h3 {
  color: #5882f6;
  position: relative;
}

.section-heading::before {
    content: '';
    width: 47px;
    height: 2px;
    background: linear-gradient(44deg, transparent, #114d8dd2);
    position: absolute;
    top: -6px;
    /* right: 149px; */
    left: 50%;
    transform: translateX(-50%);
}

.author-container {
  margin: 4vw;
  height: 581px;
  display: flex;
  flex-direction: row;
  gap: 39px;
  justify-content: center;
}

.author h1 {
	display: inline-block;
	font-size: 2rem;
	font-weight: 800;
	text-transform: uppercase;
	color: var(--white);
	padding: 0.9em 3.3rem;
	border-radius: 35px;
	position: absolute;
	top: 35px;
	left: 50%;
	transform: translateX(-50%);
}

.author-box {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 170px;
  transform: translate(-5%, -50%);
  box-shadow: none;
}

.box-2-a {
  background-color: #fff;
}

.box-content-a {
  width: 100%;
  height: 268px;
  text-align: center;
  border: 1px solid #44474845;
  color: #fff;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 76px;
}

.box-2 {
  margin-top: 17%;
}

.box-img-a {
  width: 100%;
  height: 100%;
  background-image: url("./p1.png");
  background-size: cover;
  background-position: center center;
}

.box-content-a img {
  width: 265px;
  height: 266px;
  border-radius: 76px;
  background-size: cover;
  object-fit: contain;
  position: relative;
  background-position: center center;
  transition: all 0.3s ease-in;
}

.bw {
  filter: saturate(0) !important;
}

/* .box-content-a:hover> .dimg {
  filter: saturate(0.9);
} */

.content-a {
  width: 265px;
  background-color: transparent;
  border: 1px solid #4447484b;
  color: var(--white);
  position: absolute;
  padding-top: 103px;
  padding-bottom: 20px;
  top: 40%;
  left: 0;
  right: 0;
  box-shadow: rgb(0 0 0 / 21%) 0px 1px 16px;
  border-bottom-left-radius: 76px;
  border-bottom-right-radius: 76px;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.content-a h2 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 750;
	letter-spacing: 2px;
	color: var(--text-wild-blue-yonder);
}

.content-a h2 span {
  display: inline-block;
  border-bottom: 1px solid hsl(213.42deg 72.24% 5.98% / 61%);
  padding-bottom: 6px;
}

.content-a h3 {
	color: var(--text-wild-blue-yonder);
	font-size: 14px;
	letter-spacing: 1px;
	padding: 8px 0px 7px;
}

.box-content-a:hover>.content-a {
  margin-top: 10px;
  top: 67%;
  opacity: 1;
}

.c-box2 {
  border-top-left-radius: 76px;
  border-top-right-radius: 76px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-top: 30px;
  padding-bottom: 80px;
}

.box-content-a:hover>.c-box2 {
  margin-top: 10px;
  top: -42% !important;
  opacity: 1;
}

.social-acc {
  width: 157px;
  background-color: transparent;
  border: 1px solid #33373933;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  z-index: -1;
}

.social-acc li a i {
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 0.3s ease;
}

.social-acc li a i:hover {
  padding-left: 18px !important;
}

.fa-twitter {
  color: #00aced;
  font-weight: 750;
}

.fa-facebook {
  font-weight: 750;
}

.fa-instagram {
  color: #da18a6;
  font-weight: 750;
}

.fa-youtube {
  color: red;
  font-weight: 700;
}

.box-content-a:hover>.social-acc {
  opacity: 1;
  top: -43px;
}

.sac2 {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 60% !important;
}

.box-content-a:hover>.sac2 {
  opacity: 1;
  top: 98% !important;
}

.fa-facebook,.fa-facebook-f{
  color: #275bca;
}

.fa-twitter{
  color: #00aced;
}

.fa-instagram{
  color: rgb(218, 24, 166);
  font-weight: 900;
}

.fa-linkedin-in{
  color: #1e51b7;
}

.fa-youtube{
  color: red;
}

.fa-envelope{
  color: #3b60c4;
}


/* Contact Us  */

.row-col {
  display: flex;
}

.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe {
  width: 100%;
}

.contact-us {
  width: 80%;
  margin: auto;
}

.contact-col {
  margin-bottom: 30px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 46px;
  padding: 30px;
}

.row-col {
  display: flex;
  gap: 74px;
}

.cform {
  width: 715px;
}

.contact-col div .fa {
  font-size: 28px;
  margin: 10px;
  margin-right: 30px;
}

.contact-col div p {
  padding: 0;
  color: #555;
}

.bxs .em {
    word-break: break-all;
    margin-left: 30px;
}

.fa-envelope {
  font-size: 1.6rem;
  padding-left: 8px;
}

.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: var(--text-shadow-blue);
  font-weight: 400;
}

.dark-mode .contact-col div h5{
  color: #373434;;
}

.contact-col form{
  margin: 34px;
}

.contact-col fieldset {
  margin: 51px 0;
  padding: 4px;
  border: 1px solid #000;
  border-radius: 10px;
}

fieldset:hover {
    border: 2px solid rgba(27, 115, 231, 0.92);
}

.contact-col fieldset .icons{
    color:#292929e6;
  font-size: 1rem;
}

.dark-mode .contact-col fieldset .icons{
    color:#000;
}


fieldset:hover .icons {
    color: rgb(20, 144, 216);
}

legend {
  color: #000;
  padding: 0 14px;
  font-size: 1rem;
}

.dark-mode fieldset:hover .icons {
    color: rgb(34, 154, 223) !important;
}

fieldset:hover legend {
    color: rgb(22, 143, 230) !important;
}

.contact-col input, .contact-col textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background: transparent;
}

.contact-col input,
.contact-col button {
  background: transparent;
}

#redbtn {
  padding: 10px 15px;
  color: #0072ff;
  border: 2px solid #2272e2;
  text-transform: uppercase !important;
  border-radius: 6px;
  font-size: 0.9rem;
  transition: all .3s ease;
}

#redbtn:hover{
  color: #ffff;
  background-color: #1984db;
}

.inp-b{
  border-radius: 5px;
  color: #fff;
  transition: all 0.1s ease;
}

.bxs {
  padding: 19px 25px;
  border-radius: 13px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.get-in-toch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 67px;
  position: relative;
}

/* .get-in-toch::before {
  content: "";
  position: absolute;
  top: -15px;
  bottom: 0;
  right: -15px;
  left: 0;
  background: linear-gradient(-181deg, #084554cf 11%, #ffffff00 0%);
  z-index: -1;
} */

.get-in-toch::after {
  content: "";
  position: absolute;
  top: -20px;
  bottom: 46px;
  right: -15px;
  left: 0;
  background: linear-gradient(0deg, #185aa6bc 3%, #fff0 0%);
  z-index: 1;
}

.get-in-toch h3, .get-in-toch p{
  color: var(--text-shadow-blue);
  text-align: center;
  position: relative;
}

.get-in-toch h3{
  position: relative;
}

.get-in-toch::before {
    content: '';
    width: 47px;
    height: 2px;
    background: linear-gradient(44deg, transparent, #114d8dd2);
    position: absolute;
    top: -6px;
    /* right: 149px; */
    left: 50%;
    transform: translateX(-50%);
}

/* -------------- Media Queries --------------- */

@media (min-width: 1200px) {
}

/* Tablet */

/* portrait tablet */

/* @media (max-width: 800px) {
} */

/* mobile phone */

/* @media (max-width: 600px) {
} */

/* smartphone */

@media (max-width: 990px) {
  /* ----------------------- Navigation Bar ------------------------ */

  nav {
    height: 170px;
}

  .logo {
    width: 57%;
    font-size: 53px;
  }

  #menu {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 563%;
    left: 50%;
    transform: translate(50%, -50%);
    transition: all 0.3s ease-in-out;
    height: 1818px;
    padding-top: 197px;
}
  .nav-links ul li {
    padding-bottom: 126px;
  }

  .nav-links ul li a {
    font-size: 35px;
    font-weight: 700;
  }

  .copyright-container {
    display: flex;
    justify-content: center;
    gap: 62px;
    font-size: 1.5rem;
}


  #iconbar i {
    display: initial;
    font-size: 53px;
    font-weight: 900;
    color: #000;
  }

  #iconbar i:hover {
    color: #0073ff;
}

  #crossbar i {
    display: initial;
    font-size: 4rem;
    position: absolute;
    padding: 10px;
    color: rgb(0, 0, 0);
    right: 8%;
    bottom: 1756%;
  }

  #crossbar i:hover {
    color: #0073ff;
  }

  #crossbar {
    position: absolute;
    top: 4%;
    right: 6%;
}

#red {
  color: #0e5fee;
  text-decoration: none;
  font-size: 31px;
  font-weight: 700;
  padding: 26px 73px;
  border: 2px solid #3978e6;
  border-end-end-radius: 80px 80px;
  border-start-start-radius: 80px 80px;
  transition: 0.3s ease;
}

  #red:hover {
    background-color: red;
    color: #fff;
    text-transform: uppercase;
    box-shadow: -5px -6px 13px white, -2px 4px 20px #babecc;
  }

  .btn-primary {
    font-size: 25px;
  }

  .header {
    /* height: 52vh !important; */
    background-color: transparent;
    width: 100%;
    position: relative;
}

  .header .content-box {
    background: linear-gradient(rgba(9, 5, 54, 0.1), rgba(5, 4, 46, 0.9)), url(../img/A2.jpg);
    background-position: center center;
    background-size: cover;
    height: 51vh;
    color: #fff;
  }

  .main-content-box {
    width: 100%;
    height: 67vh;
}

  .header-content {
    position: absolute;
    top: 29%;
    left: 39.9%;
    transform: translate(-30%, -53%);
    text-align: center;
}

  /* ----------------- Shape Divider -------------------- */

  .custom-shape-divider-bottom-1674106513 {
    position: absolute;
    height: 11%;
    bottom: 27%;
    /* display: none; */
}
  .custom-shape-divider-bottom-1674106513 svg {
    position: relative;
    display: block;
    width: calc(215% - 1.9px);
    height: 138px;
  }

  .custom-shape-divider-bottom-1674106513 .shape-fill {
    fill: #ffffff;
  }

  .bg {
    padding: 5px 30px;
    z-index: 11;
  }

  /* Global Tags */

  h6 {
    font-size: 0.7rem;
    color: rgb(24, 24, 49);
  }

  ul li {
    list-style: none;
  }

  a {
    font-size: 1rem;
    text-decoration: none;
  }

  li {
    font-size: 1rem;
    margin-bottom: 0.3em;
    letter-spacing: 0.1em;
  }

  h1,
  h2,
  h3 {
    font-size: 3.3rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
  }

  .text-light {
    font-size: 25px;
  }

  /* ---------- Utility Classes ------------- */

  .lg-heading {
    font-size: 3.5rem;
    text-transform: uppercase;
    padding-top: 505px;
}

  .md-heading {
    font-size: 2.7rem;
  }

  .categories h1 {
    font-size: 53px;
    margin-left: 37px;
  }

  .categories p {
    font-size: 20px;
    padding: 41px;
}

  .cat-col h3 {
    top: 46%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    position: absolute;
  }

  .rowws {
    display: flex;
    flex-direction: row;
    gap: 19px;
    margin-left: 20px;
}

  .cat-col {
    position: relative;
    padding: 138px 192px;
    flex-basis: 19%;
  }

  .img1 {
    order: 1;
  }
  .img2 {
    order: 3;
  }
  .img3 {
    order: 2;
  }
  .img4 {
    order: 13;
  }
  .img5 {
    order: 12;
  }
  .img6 {
    order: 14;
  }

  .categories {
    width: 100%;
    height: 478vw;
    padding-left: 0px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 88px;
    margin-bottom: -28%;
}

.cat-col {
  width: 728px;
  height: 478px;
}

  #h2 {
    font-size: 57px;
  }

  #blog-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 14vw 4vw 2vw 8vw;
  }

  #blog-containe .blogs {
    width: 5%;
  }

  #blog-container .blogs .post {
    width: 100%;
    height: 105vw;
}

  #blog-container .blogs .post-img img {
    padding-top: 10px;
    width: 100%;
    border-radius: 10px;
  }

  .cr .p-cr {
    font-size: 20px;
  }

  #blog-container .cate h2 {
    padding-bottom: 17px;
    font-size: 25px;
  }

  .blogpost #prv-btn {
    left: 36%;
    font-size: 1rem;
  }

  #blog-container .blogs .post h3 hr {
    display: none;
  }

  #blog-container .blogs .post h3 {
    text-align: left;
    width: 100%;
    color: #293038;
    padding: 46px 0 15px 0;
    word-spacing: 5px;
  }

  .read-btn {
    padding: 14px 47px;
    font-size: 1.3rem;
    border-radius: 24px;
}

.read-btn:hover {
    padding: 18px 49px;
    font-size: 0.8rem;
  }

  #blog-container .blogs .post p {
    margin-bottom: 10px;
    font-size: 23px;
    padding-right: 15px;
  }

  #blog-container .cate {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 60px;
    width: 60%;
    padding: 2vw;
  }

  #blog-container .cate h2 {
    text-align: center;
    font-size: 55px;
  }

  #categories i {
    padding-right: 35px;
  }

  #blog-container .cate a {
    font-size: 37px;
    margin: 36px 35px !important;
  }

  #blog-container .blogpost {
    width: 100%;
  }

  .about p {
    line-height: 70px;
}

  #btn-post {
    position: relative;
    left: 27%;
    padding: 17px 47px;
    font-size: 1.3rem;
    border-radius: 24px;
}

.gt-home {
  left: 35% !important;
}

  #btn-post:hover {
    padding: 19px 49px;
  }

  #blog-container .cate {
    height: 117vw;
    margin-top: 94px;
    margin-left: 40px;
    width: 86%;
    padding: 44vw 12vw 40vw;
}

.cat_link_box {
  padding: 2px 0;
}

#blog-container .cate a {

  line-height: unset;

}

  #prv-btn {
    position: relative;
    left: 25%;
    padding: 17px 47px;
    font-size: 0.7rem;
    border-radius: 24px;
  }

  #prv-btn:hover {
    font-size: 0.8rem;
    padding: 18px 49px;
  }
  footer {
    padding: 8vw;
    margin-top: 13vw;
    /* height: 368vw; */
    background-color: #101c3205;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    /* flex-wrap: wrap; */
}

footer .row {
  align-items: center;

}

footer .row h4 {
  font-size: 2.1rem;
}

.row li a, footer .row p {
  font-size: 1.8rem;
}
  .footer-col {
    text-align: left;
  }

  footer .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 24px;
}

footer .subscribe button {
  width: 308px;
  font-size: 1.5rem;
}

.m_hide {
  display: none !important;
}

  .footer-col li a i {
    padding-right: 35px;
  }

  .footer-col li{
    font-size: 2.3rem;
  }

  footer input::placeholder,   footer textarea::placeholder {
    font-size: 1.4rem;
  }

  footer input, footer textarea {
    width: 413px;
    color: #f4f4f496;
    margin-bottom: 11px;
    padding: 28px 13px;
    /* background: #334f6c; */
    border: 1px solid #000 !important;
    outline: none;
}

  footer .footer-col i {
    font-size: 37px;
  }

  .footer-col li a {
    font-size: 2.3rem;
    text-decoration: none;
  }

  footer .fcno {
    display: none !important;
  }

  footer .copyright p {
    color: rgba(255, 255, 255, 0.561);
    margin-bottom: 17px;
  }

  footer .subscribe a.yellow {
    font-size: 30px;
  }

  footer .copyright .pro-links i {
    font-size: 32px;
  }

  footer .copyright p {
    margin-bottom: 9px;
    font-size: 34px;
    margin-top: 15px;
  }

  .footer_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    /* text-align: left !important; */
}

  .footer_cat {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1rem;
    text-decoration: none;
  }

.social-acc {
  width: 294px;
  left: 52%;
}

.box-content-a:hover>.c-box2 {
  margin-top: 10px;
  top: -31% !important;
}

.content-a h3, .content-a h2 {
  font-size: 1.5rem;
}

.social-acc li a i {
  padding: 18px;
  font-size: 2rem;
}


.box-content-a:hover>.content-a {
    margin-top: 10px;
    top: 86%;
    opacity: 1;
}

.box-content-a:hover>.social-acc {
  opacity: 1;
  top: -72px;
}

.box-content-a:hover>.sac2 {
  opacity: 1;
  top: 100% !important;
}






  /* Sign uP */

.error_btn{
  font-size: .9rem;
  color: red;
  font-weight: 500;
}

.fa-triangle-exclamation {
  font-size: 1rem;
  margin-right: 7px;
}

  #container {
    display: flex;
    flex-direction: column;
    height: 108vh;
    padding: 0px;
    margin-left: 0px;
    padding-top: 50px;
    border-top: 2px solid #1f65f0;
    padding-bottom: 150px;
    /* margin: 20px; */
  }

  #categories:hover {
    background-color: #bbdbf668;
    border-top: 4px solid #1f65f0;
    color: #fff !important;
    box-shadow: -5px -6px 13px white, -2px 4px 10px #babecc;
  }

  #hd-1 {
    font-size: 55px;
  }

  #col-2 p {
    padding-bottom: 20px;
    color: #fff;
    font-size: 28px;
  }

  #col-2 .btn-1 {
    font-size: 28px;
    padding: 13px 48px;
  }

  #col-2 {
    height: 60vh;
    margin-top: 175px;
    transition: animation 0.3s ease-in;
}



#col-3 {
  height: 68vh;
  padding: 4vw 2vw 8vw 2vw;
}

  .form-log {
    margin-bottom: -181px;
  }

  .coll {
    width: 85%;
    margin-left: 90px;
    overflow: hidden;
  }

  .form .inp input {
    font-size: 30px;
    margin-right: 12vw;
}

  .form .inp input::placeholder {
    font-size: 30px;
  }
  .inp .fa-regular, .fa-solid {
    padding-right: 20px;
    font-size: 30px;
}

  #i {
    padding: 18px 21px;
    font-size: 31px;
  }

  #checkbox {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: left;
    margin-top: -31px;
    padding-left: 10px;
  }

  #checkbox label span,
  #checkbox label input {
    font-size: 23px;
  }

  #checkbox button {
    font-size: 22px;
  }

  form .inp {
    padding: 32px;
    margin-bottom: 51px;
  }

  #button-2 {
    font-size: 32px;
  }

  .reg-btn{
    padding: 10px 308px !important;
  }

#f-hd {
    font-size: 3.2rem;
}

  .form-reg #i {
    font-size: 29px;
  }

  .form-reg #f-hd {
    font-size: 41px;
    margin-top: -28px;
  }

  .form-reg p {
    font-size: 21px;
  }

  .form-reg .inp {
    padding: 28px 48px !important;
  }

  #p-foot {
    margin-top: 0%;
  }

  @keyframes col2 {
    from {
      padding-top: 39px;
    }
    to {
      padding-top: 518px;
    }
  }

  #forgot .inp {
    display: flex;
    gap: 17px;
    margin: 32px 152px 7px 152px;
    border: 1px solid #000;
    border-radius: 15px !important;
  }

  .posts p, .posts ul li {
    line-height: 68px;

  }

  .p-head .cr .p-cr {
    font-size: 1.3rem;
}

.cr .p-cr img {
  padding-top: 0 !important;
}

  table td {
    font-size: 1.6rem;
    padding: 27px;
    border-bottom: 0.5px solid #00000063;
  }

  .post-comment h2 {
    letter-spacing: 3px;
  }

  .post-comment form input,
  .p-text {
    font-size: 28px;
  }

  .post-comment form button {
    width: 100%;
    font-size: 2.6rem;
  }

  .post-comment form {
    margin-top: 65px;
    padding: 4vw;
}

  .comm {
    padding: 5vw;
    margin-left: 7.4%;
    width: 87%;
  }

  .comm div p {
    padding: 15px 0px;
    border-bottom: 1px solid #000;
    font-size: 35px;
  }

  .comm div span {
    font-size: 28px;
  }

  .post-comment {
    margin-left: -13.6%;
    width: 108%;
  }

  .location {
    width: 88%;
    margin: auto;
    padding: 54px 0;
  }

  .row-about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .author {
    padding-top: 80px;
    margin-bottom: 209%;
}


  .about-col img {
    margin-left: 5px;
    width: 100%;
  }

  .about-col p {
    padding: 43px 0 62px;
    font-size: 29px;
  }


  .author-container {
    border: none;
    padding-top: 80px;
    margin: 8vw;
    height: 328vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-content-a,.box-content-a img{
  width: 500px;
  height: 500px;
}

.box-content-a{
  margin-top: 80px;
}

.content-a{
  width: 500px;
}

.hd-a{
  bottom: -285% !important;
}
  .row-col {
    display: flex;
    flex-direction: column;
  }

  .contact-col div h5 {
    font-size: 34px;
  }

  .contact-col div p {
    padding: 0;
    font-size: 27px;
    letter-spacing: 1px;
  }

    legend {
      font-size: 2.1rem;
  }

  .contact-col fieldset .icons {
    font-size: 2.1rem;
  }

  .contact-col input, .contact-col textarea {
    padding: 27px 21px;
    font-size: 2.3rem;
  }

  .contact-col button {
    font-size: 2rem !important;
  }

  .pagination-container {
    margin-top: 83px;
  }

  .pagination-left a, .pagination-right a {
    font-size: 2.5rem !important;
  }

  .pagination-num a {
    font-size: 2.3rem !important;
    padding: 5px 28px;
    margin: 0 12px;
  }

}



/* Pagination  */


.pagination-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 31px;
}

.pagination-left a, .pagination-right a {
  text-decoration: none;
  background: #ffffff;
  padding: 4px 10px;
  font-size: 1rem;
  color: #00a2ff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.72) 0px 1px 5px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */
  width: 5px;
  height: 5px;
  font-weight: 500;
}

.pagination-num a {
  text-decoration: none;
  /* background: linear-gradient(90deg, #5882f6, rgb(20, 180, 170)); */
  padding: 5px 14px;
  margin: 0 4px;
  font-size: 1rem;
  color: #000;
  border-radius: 6px;
  width: 5px;
  height: 5px;
  font-weight: 500;
  box-shadow: rgb(0 0 0 / 45%) 0px 1px 7px;
  transition: all .3s ease;
  border: 1px solid #0000;
}

.pagination-num a:hover {
  border: 1px solid #000000cb;
}

.gallary .pagination-container{
  margin-top: 6px;
}


/* pop up box  */


.pop-box {
  display: flex;
  gap: -1px;
  /* padding: 10px; */
  color: #000;
  width: 357px !important;
  align-items: center;
  position: fixed;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  right: -5%;
  transform: translateY(-50%);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
  animation: slideleft 0.3s ease-in-out forwards;
}

@keyframes slideleft{
  0%{
      right: -5%;
  }
  100%{
      right: 5%;
  }
}

.pop-box .s-icon {
  width: 66px;
  height: 100%;
  background: #50d947;
  height: 100%;
  padding: 27px 10px;
}

.pop-box .fa-solid,.pop-box .fas {
  font-size: 1.8rem;
  color: #fff !important;
  font-weight: 900;
  margin-left: 8px;
}

.s-icon, .pop-c {
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */
}

.pop-c {
  background: #fff;
  width: 300px;
  padding: 10px;
}

.pop-c p {
  font-size: .9rem;
  margin-left: 13px;
  font-weight: 500;
}

.fail .s-icon{
  background-color: rgb(231, 50, 50) !important;
}
