
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Poppins:wght@300;400;500;600;700;800&family=Ubuntu:ital,wght@0,500;0,700;1,700&family=Urbanist:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,500;1,900&display=swap');

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Poppins', serif;
    overflow-x: hidden;
}

body{
    background: rgb(239, 242, 247);
}

i {
    font-size: 25px;
}

li{
    list-style: none;
}

.fa-circle-check{
    color: #24e54b;
}

.fa-circle-xmark{
    color: #ff2424;
}

::-webkit-scrollbar {
    width: 1px;
    height: 10px;
    border: 1px solid #d5d5d5;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #acadaec7;
  }



.error_btn{
    font-size: .9rem;
    color: red;
    font-weight: 500;
}

.fa-triangle-exclamation {
    font-size: 1rem;
    margin-right: 7px;
}

#main{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.logo-container {
    display: flex;
    gap: 18px;
    list-style: none;
    align-items: center;
}

#logo{
    height: 77px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
    transition: all 0.2s ease;
  }
  
  #logo img {
    width: 34px;
    cursor: pointer;
  }
  
  #l-text {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: #0c0c0c;
    text-transform: uppercase;
}

#side-nav {
    width: 324px;
    height: 90vh;
    background: #fff;
    position: fixed;
    gap: 20px;
    margin-top: 39px;
    padding-top: 46px;
    padding-right: 2vw;
    padding-left: 3vw;
    border-radius: 11px;
    box-shadow: rgba(0, 0, 0, 0.21) 0px 1px 15px;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 134px;
    border-bottom-right-radius: 134px;
    transition: width ease-in-out 0.3s;
}


/* -------------- Logo Styling -------------- */

#logo{
    color: #000;
    font-size: 23px;
    font-weight: 600;
}

.logo {
    width: 100px;
    cursor: pointer;
    color: #333;
    display: flex;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 4px;
  }
  
  .logo span {
    font-weight: 800;
    color: #5882f6;
  }
  
  
  .logo a {
    color: #5882f6;
    font-size: 35px;
    font-weight: 800;
    margin-left: 6%;
    text-decoration: none;
    transition: 0.5s ease-in;
  }
  


.navbar{
    display: none;
}

#menu-bar {
	display: flex;
	flex-direction: column;
	gap: 31px;
	align-items: flex-start;
	margin-top: 3px;
}

.active #menu-bar {
    margin-top: 30px;
}

#menu-bar i {
    visibility: visible !important;
}


.link-a{
    display: none;
}

.nav-btn1{
    display: none;
}

.fa-bars{
    cursor: pointer;
}

#menu-bar li {
	list-style: none;
	transition: transform 0.3s ease-in;
	margin-bottom: 28px;
}

#menu-bar ul li a{
    display: block;
    text-decoration: none;
    color: #464242;
    font-size: 17px;
    font-weight: 400;
    position: relative;
    transition: color 0.3s ease;
}

.dropdown {
	position: absolute;
	right: -40%;
	font-size: 16px;
	top: 30%;
    transition: 0.3s ease;
}

.rotate{
    transform: rotate(90deg);
}

#menu-bar ul li a:hover, #menu-bar ul li a.lactive{
    color: #5882f6;
}


#menu-bar li a i {
    margin-right: 14px;
    font-size: 1rem;
}

#menu-bar li:hover{
    transform: translateX(9px);
}

.link-sub{
    display: none;
    margin-left: 28px;
}

.link-sub li{
    margin: 18px 0 16px 8px !important;
}

.open li {
    margin: 18px 0 16px 8px !important;
}

.icons{
    font-size: 21px !important;
}

/* -------------------------------
     #Main Content
------------------------------- */

#main-content {
	width: 82%;
	margin-left: 276px;
	margin-bottom: 119px;
	display: flex;
	flex-direction: column;
	gap: 48px;
	transition: ease-in-out 0.3s;
}

#top-nav {
    height: 63%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 36px 42px 0px 14px;
}

#top-nav>.logo-text{
    color: #000;
    font-size: 25px;
    font-weight: 550;
    position: relative;
}

.logo-text::after {
    content: '';
    width: 58px;
    height: 10px;
    position: absolute;
    top: 13px;
    right: -69px;
    background: linear-gradient(44deg, transparent, #5882f6);
}

.pro-box {
    display: flex;
    gap: 15px;
    align-items: center;
}

.pro-box>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: rgb(44 44 46 / 56%) 2px 0px 0px 1px;
    cursor: pointer;
    position: relative;
}

.pro-box img::before{
    content: ' ';
    width: 50px;
    height: 50px;
    padding:10px;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:-1;
    border-radius: 50%;
    border: 2px solid #14b3c2;
}

.profile-links {
    background-color: white;
    width: 183px;
    border: 1px solid #ddd;
    padding: 10px 16px;
    top: 13%;
    right: 2%;
    border-radius: 5px;
    position: absolute;
    z-index: 9;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.profile-links a{
    text-decoration: none;
    color: #000;
    margin: 7px 0px;
    font-size: 13px;
    transition: all 0.3s ease;
}

.profile-links a:hover{
    color: #5882f6;
}

.profile-links i {
    font-size: 13px;
    margin-right: 7px;
}

/* --------------------------
    #Box Container
-------------------------- */

.hd1{
    display: flex;
    justify-content: center;
}

.hd1 h2{
    font-size: 24px;
    position: relative;
}

.hd1 h2::after {
    content: '';
    width: 58px;
    height: 10px;
    position: absolute;
    top: 12px;
    left: -76px;
    background: linear-gradient(45deg, #5882f6, transparent);
}

#box-container {
    width: 96%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 14px;
}

#box-container>.col {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 160px;
}

.col > .box {
    width: 234px;
    height: 182px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 23px;
    justify-content: flex-start;
    align-items: center;
    border-left: 4px solid #5882f6;
    position: relative;
    border-radius: 10px;
    transition: all 0.4s ease-in 0s;
}

.box:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-left: 6px solid #2797d1;
    transform: translateY(-5px);
}

.left-box {
	display: grid;
	place-items: center;
	width: 100%;
	height: 58%;
	background: red;
	/* border-top-right-radius: 60px; */
	/* border-bottom-right-radius: 60px; */
}

.box-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box p {
    text-align: center;
}

.box-hd1{
    font-size: 40px;
    font-weight: 650;
}

.box-hd2 {
    font-size: 16px;
    font-weight: 500;
    color: #3b3939;
}

.box:hover .box-hd1,.box:hover .box-hd2{
    color: #2797d1;
}

.btn-primary {
    text-decoration: none;
    /* background: linear-gradient(90deg, #5882f6, rgb(20, 180, 170)); */
    color: #fff;
    font-size: 12px;
    font-weight: 550;
    letter-spacing: 1px;
    padding: 9px 19px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.21) 0px 1px 15px;
    transition: all 0.3s ease;
}

.btn-primary:hover{
    background-color: #1c7dadec;
}

.btn1:hover {
    background-color: #198cc6e6;
}

.box a{
    color: #000;
    text-decoration: none !important;
}

.box1 {
    /* background-color: rgba(84, 236, 198, 0.291); */
}
.box2 {
    /* background-color: rgba(98, 231, 255, 0.233); */
}
.box3 {
    /* background-color: rgba(255, 233, 135, 0.27); */
}
.box4{
    /* background-color: rgba(255, 233, 135, 0.31); */
}
.box5 {
    /* background-color: rgba(226, 99, 255, 0.309); */
}
.box6{
    /* background-color: rgba(84, 236, 198, 0.292); */
}

.d-icons{
    position: absolute;
    top: 7%;
    right: 7%;
}

.d-icons i{
    font-size: 16px;
}

.box:hover .d-icons i{
    color: #2797d1;
}

#a-gallary {
    padding: 0 20px 50px;
    box-shadow: rgba(0, 0, 0, 0.21) 0px 1px 15px;
    margin: 76px 85px 0;
    background: #fff;
}

.gallary {
    margin-top: 48px;
}

.img-form form {
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: rgba(0, 0, 0, 0.21) 0px 1px 15px;
	padding: 30px 0;
	margin: 0px 82px;
	background: #fff;
}

 form>label{
    font-size: 17px;
    font-weight: 600;
 }

 .gal-headings{
    padding: 20px 0px;
    margin: 0px 85px;
 }

 #p2{
    padding-left: 10px;
 }

.gal-headings, .col-gal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    margin: 0 30px;
}

#p2{
    width: 460px;
    text-align: center;
}

.gal-headings{
    margin: 0px 146px;
}

.gal-headings>.btn1{
    margin-right: 65px;
}

.col-gal>.btn-primary {
    margin-right: 29px;
    background-color: #ff4b4b;
    border: 1px solid #e84934;
    transition: all .3s ease;
}

.col-gal>.btn-primary:hover {
    background: transparent;
    color: #e84934;
    box-shadow: rgba(0, 0, 0, 0.053) 0px 1px 15px;
}

.fa-trash-can {
    font-size: .9rem;
    margin-right: 4px;
}

.gal-headings>p{
    text-align: center;
    font-weight: 700;
}

 #gal-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
    margin: 0px 85px;
 }

#gal-box img {
    width: 147px;
    border-radius: 10px;
}

 #gal-box>p{
    font-size: 15px;
    font-weight: 500;
 }

 #yt .gallary {
    margin-top: 5px;
}

.pop-box {
    display: flex;
    gap: -1px;
    padding: 10px;
    color: #000;
    width: 357px !important;
    align-items: center;
    position: fixed;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    right: -5%;
    transform: translateY(-50%);
    border-radius: 10px;
    justify-content: center;
    animation: slideleft 0.3s ease-in-out forwards;
  }
  
  @keyframes slideleft{
    0%{
        right: -5%;
    }
    100%{
        right: 5%;
    }
}
  
  .pop-box .s-icon {
    width: 66px;
    background: #50d947;
    height: 100%;
    padding: 17px 10px;
  }
  
  .pop-box .fa-solid,.pop-box .fas {
    font-size: 1.8rem;
    color: #fff !important;
    font-weight: 900;
    margin-left: 8px;
  }
  
  .s-icon, .pop-c{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }
  
  .pop-c {
    background: #fff;
    width: 300px;
    padding: 10px;
  }
  
  .pop-c p {
    font-size: .9rem;
    margin-left: 13px;
  }
  
  .fail .s-icon{
    background-color: rgb(231, 50, 50) !important;
  }




/* ---------------------------
    #Registration Form
-----------------------------*/

#table #top-nav {
    margin: 34px 42px 0px 14px;
}

.forms-container {
	margin: 50px 22px;
	position: relative;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.21) 0px 1px 15px;
	padding: 4px 30px 32px;
}

.table-wrapper {
    margin-top: 20px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding-right: 17px;
    width: 99%;
}


.table-wrapper table {
    margin-top: 115px;
    margin: 0px 13px;
    overflow: auto;
    margin-top: 25px;
    width: 100%; 
}

.bordered-table {
    border-collapse: collapse;
  }

  

.mactive .table-wrapper table {
	margin-top: 115px;
	margin: 0px 27px;
	margin-top: 25px;
}

.table-wrapper table tr {
    display: flex;
    justify-content: center;
}

tr:nth-of-type(even) {
    background-color: rgba(0,0,0,.05);
}

th, td {
	display: grid;
	place-items: center;
	width: 242px;
	text-align: center;
    border-top: 1px solid #abaeb1;
    padding: 12px;
}

td{
    word-wrap: break-word;
    white-space: normal;
  }

th{
    padding: 15px;
}

.hd2 {
    position: absolute;
    font-size: 27px;
    font-weight: 700;
    top: -68px;
    left: 483px;
}

.reg {
	width: 79%;
	top: 17%;
	left: 82.4%;
	background: transparent;
	color: #000;
	font-weight: 600;
}

.opbtns {
	display: flex;
	gap: 20px;
	justify-content: center;
}

.dlbtn{
    border: 1px solid  #e62c2c;
    color: rgb(228, 28, 28);
}

.dlbtn:hover {
    background: #e62c2c;
    color: #f0f0f0;
}

.del-btn{
    background: linear-gradient(90deg, #cf0d0d, #ff2424);
    transition: all .2s ease;
}

.del-btn:hover{
    background-color: #cb1c1ceb;
    color: #fff;
}

.fa-circle-check{
    color: #24e54b;
}

.fa-circle-xmark{
    color: #ffffff;
}


table::-webkit-scrollbar {
    height: 2px;              
    width: 2px;         
    border: 1px solid #d5d5d5;
  }
  table::-webkit-scrollbar-thumb {
    width: 1px;
    background: var(--bg-oxford-blue-2);
    border-radius: 5px;
  }

  .pagination-container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 31px;
  }

  .pagination-left a, .pagination-right a {
    text-decoration: none;
    background: #ffffff;
    padding: 4px 10px;
    font-size: 1rem;
    color: #00a2ff;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.72) 0px 1px 5px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */
    width: 5px;
    height: 5px;
    font-weight: 500;
}

.pagination-num a {
    text-decoration: none;
    /* background: linear-gradient(90deg, #5882f6, rgb(20, 180, 170)); */
    padding: 5px 14px;
    margin: 0 4px;
    font-size: 1rem;
    color: #000;
    border-radius: 6px;
    width: 5px;
    height: 5px;
    font-weight: 500;
    box-shadow: rgb(0 0 0 / 45%) 0px 1px 7px;
    transition: all .3s ease;
    border: 1px solid #0000;
}

.pagination-num a:hover {
    border: 1px solid #000000cb;
}

.gallary .pagination-container{
    margin-top: 6px;
}

  
/*-----------------------------------*\
  #REGISTRATION PAGE
\*-----------------------------------*/
  
  
  .form-container {
	height: 100%;
	padding-top: 1px;
}
  
.form-container form {
    display: flex;
    /* flex-direction: column; */
    gap: 44px;
    position: relative;
    align-items: center;
    margin: 8px 22px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.21) 0px 1px 15px;
    padding: 32px 70px 38px 108px;
    border-radius: 5px;
}
  
  .form-container .form-row {
    width: 100%;
    display: flex;
    gap: 72px;
  }
  
  .form-row .inp {
	display: flex;
	flex-direction: column;
	gap: 11px;
    padding-top: 0;
	padding-left: 0;
}
  
  .inp select {
    padding: 15px;
    border: 1px solid #000;
  }
  
  .form-row .inp label {
	font-size: 14px;
	font-weight: 400;
    padding: 4px;
}
  
  .inp input,
  select,
  textarea {
    border-radius: 10px;
    box-shadow: none !important;
    transition: all 0.3s ease;
  }
  
  .inp input:hover,
  select:hover,
  textarea:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  
  input[type="radio"]#male, input[type="radio"]#female {
	font-size: -3px;
	width: 29px;
}
  
.g-inp {
	display: flex;
	flex-direction: column;
	/* margin: -1px 0; */
	/* gap: -25px; */
}
  
.g-inp .inp {
	width: 35%;
	display: flex;
	flex-direction: row;
	gap: 6px;
	/* margin-top: 10px; */
	padding-top: 0;
	padding-left: 0;
}

.form-container input {
    /* width: 298px; */
    background: transparent;
}
  
  .inp input,
  select,
  textarea {
    outline: none;
    border: none;
    width: 100%;
    padding: 15px;
    width: 400px;
    background: none;
    outline: none;
    color: var(--text-wild-blue-yonder);
    border: none;
    border-bottom: 1px solid #85d8f6a0;
  }
  
  .dark-mode .inp input,
  .dark-mode select,
  .dark-mode textarea {
    border-bottom: 1px solid #303d42c6;
  }
  
  .g-inp input {
    width: 15px;
  }
  
  .packages {
    width: 923px !important;
  }

  .inps {
    width: 552px !important;
  }
  
  .form-container .ctab {
	margin-top: 35px !important;
	background: transparent;
	border: none;
	outline: none;
}

.button-text {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 10px;
    border: none;
    border-radius: 6px;
    background-color: #2ca1dd;
    transition: all 0.3s ease;
    width: 150px !important;
}

.button-text:hover{
    background-color: #2797d1;
}
  
  .form-container i {
    font-size: 12px;
    padding-right: 8px !important;
  }

  .form-btns {
    width: 199px;
    display: flex;
    gap: 3px;
    margin-top: 37px;
    align-items: center;
    background: #00a2ff;
    font-weight: 600;
    color: #f0f0f0;
    border: 1px solid #00a2ff;
    transition: all .3s ease;
}

.form-btns:hover, .form-btns:hover input[type="submit"]{
    background: transparent;
    color: #00a2ff;
}

  .form-btns p{
    font-size: 16px;
    font-weight: 500;
  }

  .form-btns input[type="submit"] {
    color: #ffff;
    border: none;
    outline: none;
    font-weight: 600;
  }

  /* .custom-file-input {
    border: none !important;
  } */


  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Browse';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }


  #yt .registration-form {
	margin-top: -23px;
}


  /*---------------------------------------*/
  /*              Login Page                             */
  /*---------------------------------------*/

#login{
    background-color: #F0F0F1;
}

.login-container {
	padding: 30px;
	position: absolute;
	top: 50%;
	left: 57%;
	transform: translate(-50%,-50%);
}

#lg{
    left:50%;
}

  .log-hd{
    text-align: center;
    margin: 0 auto;
  }

  .log-hd h3{
    position: relative;
    font-size: 22px;
  }

  .log-hd h3::after {
    content: '';
    width: 35px;
    height: 10px;
    position: absolute;
    top: 13px;
    left: 44px;
    background: linear-gradient(45deg, #5882f6, transparent);
}

.login-box {
    width: 404px;
    background-color: #fff;
    padding: 38px 30px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

  .login-box form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }

  .login-box form .inp{
    display: flex;
    flex-direction: column;
    gap: 2px !important;
    padding: 0 !important;
  }

  .inp label {
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
}

  .inp input {
    outline: none;
    border: 1px solid #2c2b2b;
    border-radius: 7px;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 298px;
    transition: all 0.2s ease;
}

.inp input:focus{
    border: 2px solid #282828;
}

.log-btn{
    border: none;
    outline: none;
    font-weight: 300;
    background-color: #3873f2;
    transition: all 0.3s ease;
}

.log-btn:hover{
    background-color: #315fc1;
}

  .inp{
    padding: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .inp a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: 300;
}

.chpass #top-nav {
	margin-top: 50px;
}

.chpass .login-box {
	width: 1104px;
    box-shadow: rgba(0, 0, 0, 0.21) 0px 1px 15px;
}

.chpass .login-box form .inp {
    width: 86%;
}

.chpass .inp input{
    width: 100%;
}

.chpass .log-btn {
    padding: 9px 27px;
}


.yt1{
    text-align: center;
    font-size: 25px;

}

.ytb{
    font-size: 15px;
}

.yt .gal-headings, .yt .col-gal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 18px;
    margin: 0 -22px;
    border-block-end: 1px solid #00000062;
}

.yt .gal-headings {
    padding: 16px 114px;
    background: #92c2ff;
    color: #004fc9;
}

.g1{
    justify-self: flex-start !important;
}

.g2{
    width: 460px;
    text-align: center;
}

.g3{
    margin-right: 25px !important;
}


/* Blog Page Designing  */


.blog_form {
    flex-direction: column !important;
}

.blog_form .inp {
    width: 100% !important;
}

.blog_form .inp input {
    width: 100% !important;
    height: 46px;
}

.blog_form .inp textarea {
    width: 100%;
    height: 60px;
    border: 1px solid #00000093 !important;
}

.blog_form .form-btns {
    width: unset;
}

.ck-editor__editable {
    height: 207px;
    border: 1px solid #000000ad;
}

.update_btn {
    border:1px solid #1c7dadec;
    color: #1c7dadec;
  }
  
  .update_btn:hover {
    color: #fff;
    background-color: #1c7dadec;
  }
  

/* ------------------- Feedback Table -------------------- */

.feed-table .opbtns{
    display: unset;
}

    #mobile {
         display:none;
     }


@media (min-width: 260px) and (max-width: 944px) {
    #main {
        display:none;
    }
     #mobile {
         display:initial;
     }
}


